<br/>
  <div class = "col-10 offset-1 text-center">
      <h1 class = "heading"> My Dashboard</h1>
      <h2>Points: <%= @user.points %></h2>
      <h4><%= @user.email %> </h3>
      <h4>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
      <hr/>
      <br/>

  </div>

<h1 class="text-center ">My Posted Jobs</h1>

<br/>

<section class = "content-box-user col-10 col-centered">
  <div class = "row  container">
    <div class="booyah-box-special offset-2 col-md-6 text-center "> <h4 class = "heading">Title</h4> </div>
    <div class = "booyah-box-special col-md-3 text-center"><h4 class = "heading"> Status</h4> </div>
  </div>

  <% @user.jobs.each do |job| %>
    <div class = "row container">
        <div class="booyah-box offset-2 col-md-6 ">
          <h3 class = "text-center"><%= link_to job.title, job_path(job) %></h3> 
          
        </div> 


        <div class = "booyah-box col-md-3 text-center">

              <% if job.done == false && job.claimed == false %>
                <span class = "btn btn-info">Unclaimed</span>
              <% elsif job.done == false && job.claimed == true %>
                <span class = "btn btn-warning">Pending...</span>
              <% elsif job.done == true %>
                <span class = "btn btn-success">Completed</span>
              <% end %>

        </div>
    </div>
    
  <% end %>

</section>

    <br/>
  <h1 class=" text-center">Claimed Jobs</h1>

  <br/>
<section class = "content-box-user col-10 col-centered">
  <div class = "row  container">
    <div class="booyah-box-special offset-2 col-md-6 text-center "> <h4 class = "heading">Title</h4> </div>
    <div class = "booyah-box-special col-md-3 text-center"><h4 class = "heading"> Status</h4> </div>
  </div>

      
      <% @user.claims.each do |claim| %>
        
        <div class = "row  container">

            <div class="booyah-box offset-2 col-md-6">
              <h3 class = "text-center"><%= link_to claim.job.title, job_path(claim.job) %></h3>
            </div>

            <div class = "booyah-box col-md-3 text-center">
                                      
                    <% if claim.job.done == false && claim.job.claimed == false %>
                      <span class = "btn btn-info">Unclaimed</span>
                    <% elsif claim.job.done == false && claim.job.claimed == true %>
                      <span class = "btn btn-warning">Pending...</span>
                    <% elsif claim.job.done == true %>
                      <span class = "btn btn-success">Completed</span>
                    <% end %>
            </div>

        </div>

      <% end %>

</section>
    <br/>